body {
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;

}

.mainTitle {
	text-decoration: underLine;
	font-size: 1.875em;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 40px;
}

iframe {
	height: 100vh;
}	
